-# .side_bar
-#   .side_bar__header
-#     .side_bar__header__box
-#       .side_bar__header__box__username
-#         UserName
-#       .side_bar__header__box__menu
-#         %ul.side_bar__header__box__menu__btns
-#           %li.side_bar__header__box__menu__btns__list
-#           =link_to "#", class:"side_bar__header__box__menu__btns__btn" do
-#             =icon('far', 'fa-edit',class: 'side_bar__header__box__menu__btns__btn--icon')
-#           %li.side_bar__header__box__menu__btns__list
-#           =link_to "#", class: "side_bar__header__box__menu__btns__btn" do
-#             =icon('fas', 'fa-cog',class: 'side_bar__header__box__menu__btns__btn--icon')
-#   .side_bar__main
-#     .side_bar__main__box
-#       %ul.side_bar__main___box__group
-#         %li.side_bar__main___box__group__display.side_bar__main___box__group__display--name
-#           techchamp
-#         %li.side_bar__main___box__group__display.side_bar__main___box__group__display--message
-#           まだメッセージがありません


.side_bar
  .side_header
    .side_header_box
      %p.side_header_box__username
        UserName
      .side_header_box__menu
        = link_to "#", class: "side_header_box__menu__icon" do
          = icon('far', 'edit',class: 'side_header_box__menu__icon--right')
        = link_to "#", class: "side_header_box__menu__icon" do
          = icon('fas', 'cog',class: 'side_header_box__menu__list__icon--right')
  .side_main
    .side_main_box
      .side_main_box__group-name
        techchamp
      .side_main_box__group-message
        まだメッセージがありません
    .side_main_box
      .side_main_box__group-name
        techchamp
      .side_main_box__group-message
        まだメッセージがありません
    .side_main_box
      .side_main_box__group-name
        techchamp
      .side_main_box__group-message
        まだメッセージがありません
    .side_main_box
      .side_main_box__group-name
        techchamp
      .side_main_box__group-message
        まだメッセージがありません